## Benchmark for Calculating Saltbridge Interactions using Numpy Vectorized Array Implementation

In [1]:
import pandas as pd
import papermill as pm
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import psutil
n_cores = psutil.cpu_count(logical=True)
n_cpus = psutil.cpu_count(logical=False)
print("cores:", n_cores)
print("cpus: ", n_cpus)

cores: 4
cpus:  2

In [3]:
dataset = "full"
coresets = [1,2] + list(range(4, n_cores+1, 4))
coresets.reverse()
print(coresets)

[4, 2, 1]

In [4]:
for cores in coresets:
    pm.execute_notebook(
        'tasks/Saltbridges.ipynb',
        '../output/Saltbridges_' + str(cores) + "_" + dataset + '.ipynb',
        parameters = dict(cores=cores, path='../data/' + dataset),
        start_timeout=500
    )

Input Notebook:  tasks/Interactions.ipynb
Output Notebook: ../output/Interactions_4_full.ipynb
100%|██████████| 7/7 [11:27<00:00, 98.27s/it]
Input Notebook:  tasks/Interactions.ipynb
Output Notebook: ../output/Interactions_2_full.ipynb
100%|██████████| 7/7 [12:17<00:00, 105.42s/it]
Input Notebook:  tasks/Interactions.ipynb
Output Notebook: ../output/Interactions_1_full.ipynb
100%|██████████| 7/7 [20:50<00:00, 178.71s/it]

In [5]:
nbs = pm.read_notebooks('../output/')
nbs.dataframe

,name,value,type,filename,key
0,cores,1,parameter,Interactions_1_full.ipynb,Interactions_1_full.ipynb
1,path,../data/full,parameter,Interactions_1_full.ipynb,Interactions_1_full.ipynb
2,count,135448,record,Interactions_1_full.ipynb,Interactions_1_full.ipynb
3,interactions,1229.68,record,Interactions_1_full.ipynb,Interactions_1_full.ipynb
4,interactions_total,1248.58,record,Interactions_1_full.ipynb,Interactions_1_full.ipynb
5,cores,2,parameter,Interactions_2_full.ipynb,Interactions_2_full.ipynb
6,path,../data/full,parameter,Interactions_2_full.ipynb,Interactions_2_full.ipynb
7,count,135448,record,Interactions_2_full.ipynb,Interactions_2_full.ipynb
8,interactions,716.62,record,Interactions_2_full.ipynb,Interactions_2_full.ipynb
9,interactions_total,735.557,record,Interactions_2_full.ipynb,Interactions_2_full.ipynb
10,cores,4,parameter,Interactions_4_full.ipynb,Interactions_4_full.ipynb
11,path,../data/full,parameter,Interactions_4_full.ipynb,Interactions_4_full.ipynb
12,count,135448,record,Interactions_4_full.ipynb,Interactions_4_full.ipynb
13,interactions,667.279,record,Interactions_4_full.ipynb,Interactions_4_full.ipynb
14,interactions_total,686.16,record,Interactions_4_full.ipynb,Interactions_4_full.ipynb
15,cores,1,parameter,Read_1_full.ipynb,Read_1_full.ipynb
16,path,../data/full,parameter,Read_1_full.ipynb,Read_1_full.ipynb
17,count,147616,record,Read_1_full.ipynb,Read_1_full.ipynb
18,read,520.417,record,Read_1_full.ipynb,Read_1_full.ipynb
19,read_total,540.894,record,Read_1_full.ipynb,Read_1_full.ipynb
20,cores,2,parameter,Read_2_full.ipynb,Read_2_full.ipynb
21,path,../data/full,parameter,Read_2_full.ipynb,Read_2_full.ipynb
22,count,147616,record,Read_2_full.ipynb,Read_2_full.ipynb
23,read,312.121,record,Read_2_full.ipynb,Read_2_full.ipynb
24,read_total,331.535,record,Read_2_full.ipynb,Read_2_full.ipynb
25,cores,4,parameter,Read_4_full.ipynb,Read_4_full.ipynb
26,path,../data/full,parameter,Read_4_full.ipynb,Read_4_full.ipynb
27,count,147616,record,Read_4_full.ipynb,Read_4_full.ipynb
28,read,268.295,record,Read_4_full.ipynb,Read_4_full.ipynb
29,read_total,287.997,record,Read_4_full.ipynb,Read_4_full.ipynb

In [6]:
df = nbs.dataframe.pivot(index='key', columns='name', values='value')
df["cores"] = pd.to_numeric(df["cores"])
df["saltbridges"] = pd.to_numeric(df["saltbridges"])
df

name,cores,count,interactions,interactions_total,path,read,read_total
key,,,,,,,
Interactions_1_full.ipynb,1,135448,1229.675708,1248.58,../data/full,NaN,NaN
Interactions_2_full.ipynb,2,135448,716.619906,735.557,../data/full,NaN,NaN
Interactions_4_full.ipynb,4,135448,667.279220,686.16,../data/full,NaN,NaN
Read_1_full.ipynb,1,147616,NaN,NaN,../data/full,520.417,540.894
Read_2_full.ipynb,2,147616,NaN,NaN,../data/full,312.121,331.535
Read_4_full.ipynb,4,147616,NaN,NaN,../data/full,268.295,287.997

In [7]:
ds = df.filter(like='Saltbridges', axis=0)
ds.to_csv("../results/Saltbridges.csv")