## Benchmark MMTF Hadoop Sequence File reading

In [1]:
import pandas as pd
import papermill as pm
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import psutil
n_cores = psutil.cpu_count(logical=True)
n_cpus = psutil.cpu_count(logical=False)
print("cores:", n_cores)
print("cpus: ", n_cpus)

cores: 8
cpus:  4

In [3]:
dataset = "full"
coresets = [1,2,3] + list(range(4, n_cores+1, 4))
print(coresets)

[1, 2, 3, 4, 8]

In [4]:
for cores in coresets:
    pm.execute_notebook(
        'tasks/Read.ipynb',
        '../output/Read_' + str(cores) + "_" + dataset + '.ipynb',
        parameters = dict(cores=cores, path='../data/' + dataset)
    )

Input Notebook:  tasks/Read.ipynb
Output Notebook: ../output/Read_1_full.ipynb
100%|██████████| 7/7 [21:39<00:00, 185.60s/it]
Input Notebook:  tasks/Read.ipynb
Output Notebook: ../output/Read_2_full.ipynb
100%|██████████| 7/7 [11:29<00:00, 98.50s/it]
Input Notebook:  tasks/Read.ipynb
Output Notebook: ../output/Read_3_full.ipynb
100%|██████████| 7/7 [08:11<00:00, 70.26s/it]
Input Notebook:  tasks/Read.ipynb
Output Notebook: ../output/Read_4_full.ipynb
100%|██████████| 7/7 [06:49<00:00, 58.49s/it]
Input Notebook:  tasks/Read.ipynb
Output Notebook: ../output/Read_8_full.ipynb
100%|██████████| 7/7 [06:03<00:00, 51.98s/it]

In [5]:
nbs = pm.read_notebooks('../output/')
nbs.dataframe

          name         value       type           filename                key
0        cores             1  parameter  Read_1_full.ipynb  Read_1_full.ipynb
1         path  ../data/full  parameter  Read_1_full.ipynb  Read_1_full.ipynb
2         read       1278.53     record  Read_1_full.ipynb  Read_1_full.ipynb
3   read_total       1296.85     record  Read_1_full.ipynb  Read_1_full.ipynb
4        cores             2  parameter  Read_2_full.ipynb  Read_2_full.ipynb
5         path  ../data/full  parameter  Read_2_full.ipynb  Read_2_full.ipynb
6         read       668.032     record  Read_2_full.ipynb  Read_2_full.ipynb
7   read_total       686.362     record  Read_2_full.ipynb  Read_2_full.ipynb
8        cores             3  parameter  Read_3_full.ipynb  Read_3_full.ipynb
9         path  ../data/full  parameter  Read_3_full.ipynb  Read_3_full.ipynb
10        read        470.32     record  Read_3_full.ipynb  Read_3_full.ipynb
11  read_total       488.658     record  Read_3_full.ipynb  Read_3_full.ipynb
12       cores             4  parameter  Read_4_full.ipynb  Read_4_full.ipynb
13        path  ../data/full  parameter  Read_4_full.ipynb  Read_4_full.ipynb
14        read       387.979     record  Read_4_full.ipynb  Read_4_full.ipynb
15  read_total       406.317     record  Read_4_full.ipynb  Read_4_full.ipynb
16       cores             8  parameter  Read_8_full.ipynb  Read_8_full.ipynb
17        path  ../data/full  parameter  Read_8_full.ipynb  Read_8_full.ipynb
18        read         342.4     record  Read_8_full.ipynb  Read_8_full.ipynb
19  read_total       360.765     record  Read_8_full.ipynb  Read_8_full.ipynb

In [6]:
df = nbs.dataframe.pivot(index='key', columns='name', values='value')
df["cores"] = pd.to_numeric(df["cores"])
df["read"] = pd.to_numeric(df["read"])
df

name               cores          path         read read_total
key
Read_1_full.ipynb      1  ../data/full  1278.527366    1296.85
Read_2_full.ipynb      2  ../data/full   668.031833    686.362
Read_3_full.ipynb      3  ../data/full   470.320329    488.658
Read_4_full.ipynb      4  ../data/full   387.979400    406.317
Read_8_full.ipynb      8  ../data/full   342.400208    360.765

In [7]:
ds = df.filter(like='Read', axis=0)
ds.to_csv("../results/Read.csv")