## Benchmark MMTF Hadoop Sequence File flatmapping

In [1]:
import pandas as pd
import papermill as pm
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import psutil
n_cores = psutil.cpu_count(logical=True)
n_cpus = psutil.cpu_count(logical=False)
print("cores:", n_cores)
print("cpus: ", n_cpus)

cores: 8
cpus:  4

In [3]:
dataset = "full"
coresets = [1,2,3] + list(range(4, n_cores+1, 4))
print(coresets)

[1, 2, 3, 4, 8]

In [4]:
for cores in coresets:
    pm.execute_notebook(
        'tasks/Flatmap.ipynb',
        '../output/Flatmap_' + str(cores) + "_" + dataset + '.ipynb',
        parameters = dict(cores=cores, path='../data/' + dataset)
    )

Input Notebook:  tasks/Flatmap.ipynb
Output Notebook: ../output/Flatmap_1_full.ipynb
100%|██████████| 7/7 [2:06:17<00:00, 1082.57s/it]
Input Notebook:  tasks/Flatmap.ipynb
Output Notebook: ../output/Flatmap_2_full.ipynb
100%|██████████| 7/7 [1:00:53<00:00, 521.99s/it]
Input Notebook:  tasks/Flatmap.ipynb
Output Notebook: ../output/Flatmap_3_full.ipynb
100%|██████████| 7/7 [41:31<00:00, 355.97s/it]
Input Notebook:  tasks/Flatmap.ipynb
Output Notebook: ../output/Flatmap_4_full.ipynb
100%|██████████| 7/7 [33:09<00:00, 284.25s/it]
Input Notebook:  tasks/Flatmap.ipynb
Output Notebook: ../output/Flatmap_8_full.ipynb
100%|██████████| 7/7 [32:33<00:00, 279.03s/it]

In [5]:
nbs = pm.read_notebooks('../output/')
nbs.dataframe

,name,value,type,filename,key
0,cores,1,parameter,Flatmap_1_full.ipynb,Flatmap_1_full.ipynb
1,path,../data/full,parameter,Flatmap_1_full.ipynb,Flatmap_1_full.ipynb
2,flatmap,7557.07,record,Flatmap_1_full.ipynb,Flatmap_1_full.ipynb
3,flatmap_total,7575.37,record,Flatmap_1_full.ipynb,Flatmap_1_full.ipynb
4,cores,2,parameter,Flatmap_2_full.ipynb,Flatmap_2_full.ipynb
5,path,../data/full,parameter,Flatmap_2_full.ipynb,Flatmap_2_full.ipynb
6,flatmap,3632.11,record,Flatmap_2_full.ipynb,Flatmap_2_full.ipynb
7,flatmap_total,3650.68,record,Flatmap_2_full.ipynb,Flatmap_2_full.ipynb
8,cores,3,parameter,Flatmap_3_full.ipynb,Flatmap_3_full.ipynb
9,path,../data/full,parameter,Flatmap_3_full.ipynb,Flatmap_3_full.ipynb
10,flatmap,2470.08,record,Flatmap_3_full.ipynb,Flatmap_3_full.ipynb
11,flatmap_total,2488.55,record,Flatmap_3_full.ipynb,Flatmap_3_full.ipynb
12,cores,4,parameter,Flatmap_4_full.ipynb,Flatmap_4_full.ipynb
13,path,../data/full,parameter,Flatmap_4_full.ipynb,Flatmap_4_full.ipynb
14,flatmap,1968.31,record,Flatmap_4_full.ipynb,Flatmap_4_full.ipynb
15,flatmap_total,1986.6,record,Flatmap_4_full.ipynb,Flatmap_4_full.ipynb
16,cores,8,parameter,Flatmap_8_full.ipynb,Flatmap_8_full.ipynb
17,path,../data/full,parameter,Flatmap_8_full.ipynb,Flatmap_8_full.ipynb
18,flatmap,1931.44,record,Flatmap_8_full.ipynb,Flatmap_8_full.ipynb
19,flatmap_total,1950.03,record,Flatmap_8_full.ipynb,Flatmap_8_full.ipynb
20,cores,1,parameter,Read_1_full.ipynb,Read_1_full.ipynb
21,path,../data/full,parameter,Read_1_full.ipynb,Read_1_full.ipynb
22,read,1278.53,record,Read_1_full.ipynb,Read_1_full.ipynb
23,read_total,1296.85,record,Read_1_full.ipynb,Read_1_full.ipynb
24,cores,2,parameter,Read_2_full.ipynb,Read_2_full.ipynb
25,path,../data/full,parameter,Read_2_full.ipynb,Read_2_full.ipynb
26,read,668.032,record,Read_2_full.ipynb,Read_2_full.ipynb
27,read_total,686.362,record,Read_2_full.ipynb,Read_2_full.ipynb
28,cores,3,parameter,Read_3_full.ipynb,Read_3_full.ipynb
29,path,../data/full,parameter,Read_3_full.ipynb,Read_3_full.ipynb
30,read,470.32,record,Read_3_full.ipynb,Read_3_full.ipynb
31,read_total,488.658,record,Read_3_full.ipynb,Read_3_full.ipynb
32,cores,4,parameter,Read_4_full.ipynb,Read_4_full.ipynb
33,path,../data/full,parameter,Read_4_full.ipynb,Read_4_full.ipynb
34,read,387.979,record,Read_4_full.ipynb,Read_4_full.ipynb
35,read_total,406.317,record,Read_4_full.ipynb,Read_4_full.ipynb
36,cores,8,parameter,Read_8_full.ipynb,Read_8_full.ipynb
37,path,../data/full,parameter,Read_8_full.ipynb,Read_8_full.ipynb
38,read,342.4,record,Read_8_full.ipynb,Read_8_full.ipynb
39,read_total,360.765,record,Read_8_full.ipynb,Read_8_full.ipynb

In [6]:
df = nbs.dataframe.pivot(index='key', columns='name', values='value')
df["cores"] = pd.to_numeric(df["cores"])
df["flatmap"] = pd.to_numeric(df["flatmap"])
df

name,cores,flatmap,flatmap_total,path,read,read_total
key,,,,,,
Flatmap_1_full.ipynb,1,7557.068324,7575.37,../data/full,NaN,NaN
Flatmap_2_full.ipynb,2,3632.109765,3650.68,../data/full,NaN,NaN
Flatmap_3_full.ipynb,3,2470.077979,2488.55,../data/full,NaN,NaN
Flatmap_4_full.ipynb,4,1968.311103,1986.6,../data/full,NaN,NaN
Flatmap_8_full.ipynb,8,1931.437596,1950.03,../data/full,NaN,NaN
Read_1_full.ipynb,1,NaN,NaN,../data/full,1278.53,1296.85
Read_2_full.ipynb,2,NaN,NaN,../data/full,668.032,686.362
Read_3_full.ipynb,3,NaN,NaN,../data/full,470.32,488.658
Read_4_full.ipynb,4,NaN,NaN,../data/full,387.979,406.317
Read_8_full.ipynb,8,NaN,NaN,../data/full,342.4,360.765

In [7]:
ds = df.filter(like='Flatmap', axis=0)
ds.to_csv("../results/Flatmap.csv")